.vs/ImageGenerator/v17/workspaceFileList.bin
.vs/ImageGenerator/FileContentIndex/read.lock
.vs/ImageGenerator/FileContentIndex/a7307cf6-0b3a-4c00-b173-6b34913decc3.vsidx
.vs/ImageGenerator/FileContentIndex/41692f37-eb8b-43d8-ad5d-1c3a1065dff9.vsidx
.vs/ImageGenerator/v17/.suo
.vs/ImageGenerator/FileContentIndex/20721f8d-58a9-4eef-827b-a73ea6ca4901.vsidx
.vs/ImageGenerator/FileContentIndex/26db376c-bef1-42ef-bbd4-91c5ddc1b573.vsidx
.vs/ImageGenerator/FileContentIndex/5cae111d-4d4d-4462-a509-06e9a15fe4d3.vsidx
.vs/ImageGenerator/FileContentIndex/3b937688-d461-41ba-b99d-751615597e8c.vsidx
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
